.header{
    background-image: url("./img/fondobanner.png");
    height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    
}

.header__texto{
    text-align: center;
    color: white;
    padding-top: 60px;
    font-size: 25px;
   
}
.header_titulo{
    margin-top: 30px;

}

.body{
    box-sizing: border-box;
   background-color: #D8D8D8;
    
   /* margin-top: 0px;
    margin-left: 60px;
    margin-right: 60px;*/
}

.intrucciones{
    font-size: 18px;
}

.parrafo{
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 20px;
}

.clave_secreta{
    text-align: center;
    font-size: 20px;
}
.numero{
    height: 20px;
}

.input-texto{
    font-size: 17px;
}

.mensaje{
    font-size: 17px;  
}

::placeholder{
    color: #0A7165;
    font-size: 17px;
}

.clave_secreta_parrafo{
    font-weight: bold;
}

.secciones{
    display: flex;
    justify-content: center;
}

.botones{
    text-align: center;
}

.seccion-izquierda{
    margin: 0px 60px 0px 60px;
}

.input-texto{
    border-radius: 10px;
}

.encriptar{
    color: white;
    background: black;
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
}

.seccion-derecha{
    margin: 0px 60px 0px 60px;
}

.desencriptar{
    color: black;
    background-color: white;
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
}

.mensaje{
    border-radius: 10px;
}

.footer{
    text-align: center;
    font-size: 20px;
    font-weight:100;
}

@media(max-width: 768px){
    .secciones{
        display: block;
    }
    .botones{
        margin-bottom: 40px;
    }
}
